.form {
    display: flex;
}
.form input {
    flex: 1;
    font-size:1.25rem;
    outline: none;
    border: none;
    border-bottom: 1px solid #c5f6fa;
}

.create-button {
    border-radius: 3px;
    cursor: pointer;
    background: skyblue;
    font-weight: 600;
    color:white;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
}